@use 'colors.scss' as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 74px;
}

body {
	background-color: #c5c5c5;
	font-family: 'Montserrat', sans-serif;
	color: c.$bg-color;
	height: 100vh;
}

.blue-text {
	color: c.$main;
}

.shadow-bg {
	background-color: rgb(0, 0, 0.8);
	// background-color: tomato;
}

.navbar-toggler {
	padding: 10px 15px;
	// border: 1px solid red;
}
.navbar-brand {
	font-weight: bold;
}

nav {
	z-index: 5;
	text-transform: uppercase;
	transition: background-color 0.6s;

	.nav-link,
	.navbar-brand,
	.fa-bars {
		color: c.$white;
	}
	.nav-link:focus,
	.nav-link:hover,
	nav .nav-link,
	nav .navbar-brand,
	nav .fa-bars {
		color: c.$main;
	}
}
header.hero-img {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: c.$white;
	background-image: url('../img/game-console-6603120_640.jpg');

	h1 {
		text-transform: uppercase;
	}
	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.8);
		z-index: -5;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
}

.fa-chevron-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	font-size: 30px;
	color: c.$white;
	transform: translate(-50%, -50%);
}

main {
	color: black;
}

main .section-title {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	background-color: c.$main;
	width: 60px;
	height: 4px;
	margin: 0 auto 30px;
}

.aboutus {
	i {
		font-size: 30px;
		margin-top: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: 0.3s;
	}

	.aboutus-hover:hover {
		color: c.$main;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('../img/technology-2818664_640.jpg');
	background-size: cover;
	background-position: center;
	color: c.$light-gray;
	z-index: 0;
}

.aboutus-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.7);
	z-index: -5;
}
.aboutus-hero-item {
	margin: 10px 0;

	i {
		font-size: 36px;
	}

	.aboutus-hero-title {
		font-size: 26px;
	}
}

.portfolio {
	.carusel-item {
		height: 600px;
	}

	.carousel-caption {
		background-color: rgb(0, 0, 0, 0.8);
		width: 100%;
		left: 0;
		right: 0;
		padding: 40px 0;
	}

	.section-title {
		text-align: center;
		text-transform: uppercase;
	}
	.underline {
		background-color: c.$main;
		width: 60px;
		height: 4px;
		margin: 0 auto 0px;
	}

	.carousel-indicators {
		padding-bottom: 20px;
	}
}
.prices {
	.price-box {
		margin: 20px;
		padding: 30px;
		background-color: c.$white;
		box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.8);
		transition: scale 0.3s;
	}

	.price-title {
		color: c.$main;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;

		.price-tag {
			font-weight: bold;
			font-size: 30px;
		}

		.price-info {
			margin-top: 30px;
		}
		a {
			text-decoration: none;
		}
	}

	span {
		font-weight: bold;
	}

	i {
		padding: 0px 5px;
		font-size: 24px;
	}

	button {
		padding: 10px 20px;
		text-transform: uppercase;
	}
}

.price-box:hover {
	scale: 1.05;
}

.team {
	position: relative;
	background-image: url('../img/team/chairs-2181960_1920.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.team-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.6);
		z-index: -5;
	}
	.section-title {
		color: c.$light-gray;
	}

	.card {
		transition: scale .3s;
		img {
			height: 300px;
			object-fit: cover;
		}
	
		i{
			padding: 10px;

		}
	}

	.card:hover{
		scale: .96;
	}

	.card-title{
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}

.card-body{
	height: 160px;
}

@media (mind-width: 786px) {
	.hero-text {
		height: 30px;
	}

	p {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}

	.aboutus-hero {
		position: relative;
		background-image: url('../img/technology-2818664_1920.jpg');
		background-size: cover;
		background-position: center;
		color: c.$light-gray;
		z-index: 0;
	}

	@media (min-width: 1200px) {
		header .hero-img {
			background-image: url('../img/game-console-6603120_1920\ \(1\).jpg');
		}
	}
}
